<section class="hero">
  <div class="container container__hero">
    <div class="column">
      <h1 class="hero__title">Learn Any Foreign Language</h1>
      <svg class="hero__icon">
        <use href="./images/symbol-defs.svg#icon-bulb-icon-1"></use>
      </svg>
      <p class="hero__text">With our teachers who write a program for
        each student, you will be able to make your
        first sketch after the first lesson.</p>
      <button class="hero__button"><span class="button__text">Get started</span></button>
    </div>
    <svg class="hero__img">
      <use href="./images/symbol-defs.svg#icon-learning-languages"></use>
    </svg>
  </div>
</section>